.changePass{
    background-image: url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-size: cover; 
    height: 93.8vh;
}
.changePassTop{
    margin-top: 260px !important
}

@media screen and (max-width: 600px) {
    .changePassTop{
        margin-top: 230px !important
    }
    .changePass{
        height: 91.8vh;
    }
  }